body {
    background-color: #fafafa;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;

}

.celular1 {
    width: 450px;
}

.conteiner {
    border: 1px solid #d3d3d3;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 40px;
}

input {
    height: 36px;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    margin-top: 10px;

}

button {
    background-color: #0095f6;
    margin-top: 30px;
    border-radius: 3px;
    border: none;
    color: #ffffff;
    font-weight: bolder;
    cursor: pointer;
    padding: 10px;

}

.face {
    color: #385185;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bolder;
}

.senha {
    margin-top: 10px;
    text-align: center;
    color: #385185;
    font-size: 12px;
    cursor: pointer;
}

.imagens {
    position: relative;

}

.insta{
    height: 520px;
    position: absolute;
    left: 153px;
    top: 26px;
    transition: 2s ease-in-out ;
       
}